/*! (c) Mark Battistella | charty.css | @markbattistella */





/*
 * main chart
 */
.charty {
	margin: 1em 0;
}
.charty svg {
	height: 20em;
	width: 20em;
}





/*
 * bar chart
 */
.charty[type="charty-bar"] .data-set {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
	grid-template-rows: repeat( 100, 1fr );
	grid-column-gap: 5px;
	margin-top: 2em;
	height: calc( var(--content-max-width) / 2 );
}

.charty[type="charty-bar"] .data-set [class*="data"] {
	border-radius: 0.5em 0.5em 0 0;
	transition: all 0.6s ease;
	background-color: #888;
	grid-row-start: 1;
	grid-row-end: 101;
	position: relative;
	opacity: 0.7;
}

.charty[type="charty-bar"] [class*="data"]:before,
.charty[type="charty-bar"] [class*="data"]:after {
	color: #000;
	font-size: 0.7em;
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0.3;
	transition: all 400ms;
}

.charty[type="charty-bar"] [class*="data"]:after {
	content: attr(data-number);
	top: -1.8em;
}

.charty[type="charty-bar"] [class*="data"]:before {
	content: attr(data-label);
	bottom: -2em;
}

.charty[type="charty-bar"] [class*="data"]:hover { opacity: 1; }

.charty[type="charty-bar"] [class*="data"]:hover:before,
.charty[type="charty-bar"] [class*="data"]:hover:after {
	opacity: 1;
}

.charty[type="charty-bar"] [class*="data"]:hover:after { top: -2.5em; }



/*
 * pie chart
 */
.charty[type*="charty-"] .charty-columns {
	display: flex;
	flex-direction: row;
}

.charty[type*="charty-"] .charty-rows {
	align-self: center;
	margin: 2em;
}

.charty[type*="charty-"] fieldset {
	margin-left: 2em;
	border-width: 5px 0 0 0;
	border-color: #CCC;
	border-style: solid;
	font-size: 14px;
}
.charty[type*="charty-"] fieldset legend {
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0 1em;
	margin: 0 0 0.5em -1em;
}
.charty[type*="charty-"] fieldset label {
	display: block;
	text-indent: -2.5em;
	margin: 0.5em 0 0 2.5em;
	line-height: 1.5em;
}

.charty[type*="charty-"] fieldset label span {
	height: 1em;
	width: 1em;
	border-radius: 0.25em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}






/*
 * pie chart - section chart
 */
.charty[type="charty-section"] {}
